@import "~vue-material/dist/theme/engine";

@include md-register-theme("default", (
  primary: md-get-palette-color(lightgreen, A200), // The primary color of your application
  accent: md-get-palette-color(red, A200), // The accent or secondary color
  theme: dark
));

@import "~vue-material/dist/theme/all"; // Apply the theme

html,
body,
#app {
  width: 100%;
  height: 100%;
}

html {
  font-family: Roboto, Arial, sans-serif;
}